{% extends 'base.html' %}

{% block contenido %}

    
<h1>Listado de Motocicletas</h1>
<p>
    <a href={% url 'crear_motocicletas' %}>Crear Motocicleta</a>
</p>

{% if motocicletas %}
<ul>
    {% for motocicleta in motocicletas%}
    <li>
        {{motocicleta}} 
        | <a href={% url "detalle_motocicletas" motocicleta.id %}>Ver mas</a> 
        | <a href={% url "modificar_motocicletas" motocicleta.id %}>Modificar</a>
        | <a href={% url "eliminar_motocicletas" motocicleta.id %}>Eliminar</a>
    </li>
    {% endfor %}    
</ul>
{% else %}
    <p>No hay motocicletas registradas.</p>
{% endif %}


{% endblock contenido%}

