<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url 'inicio' %}>Inicio</a>
        <a href={% url 'crear_motocicletas' %}>Crear Motocicleta</a>
        <a href={% url 'listado_motocicletas' %}>Listado de Motocicletas</a>
    </nav>
    
    <h1>Listado de Motocicletas</h1>

    {% if motocicletas %}
    <ul>
        {% for motocicleta in motocicletas%}
        <li>
            {{motocicleta}}
        </li>
        {% endfor %}    
    </ul>
    {% else %}
        <p>No hay motocicletas registradas.</p>
    {% endif %}

</body>
</html>